* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo img {
  margin: 10px 70px;
  width: 200px;
  height: 120px;
  cursor: default;
}

.logo{
  cursor: default;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #54341b;
  border-bottom: 3px solid #eab161;
  max-width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 70px;
  flex-wrap: wrap;
  flex: 1;
}

.nav-list a {
  color: #eab161;
  font-size: 20px;
  text-transform: uppercase;
}

.social-list  {
  list-style: none;
  display: flex;
  flex: 1;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: stretch;
}

.social-list img  {
  height: 20px;
  width: 30px;
  margin: 15px;
}

.menu-info img {
  max-width: 900px;
}

.search img {
  height: 25px;
  margin-right: 70px;
  padding: 0px;
}

nav::after, nav::before {
	content: '';
	display: table;
	clear: both;
}


.intro {
  background-image: url("../img/intro-logo.png");
  background-size: cover;
  max-width: 100%;
  height: 68vh;
  border-bottom: 3px solid #eab161;
}

.intro-contato {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 5px;
  margin-top: 400px;
  margin-right: 40px;
  list-style: none;
}

.intro-contato img {
  height: 30px;
  width: 120px;
}

.intro-contato li a {
  font-size: 1.5em;
  color: #ffff;
  cursor: default;
}

.intro::after, .intro::before {
	content: '';
	display: table;
	clear: both;
}

.container {
  background: #dcdcdc;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 120px;
  height: max-content;
}

.container::after, .container::before {
	content: '';
	display: table;
	clear: both;
}

.circulo div {
  display: flex;
  width: 120px;
  height: auto;
  position: absolute;

}

.circulo img {
  margin: 20px 10px;
  display: flex;
  padding: 40px;
  height: 120px;
  margin-top: -120px;
  background: #dcdcdc;
  border-radius: 50%;
  border: solid #eab161;
}

.circulo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #eab161;
  font-size: 2em;
}

.baloes{
  background: #dcdcdc;
  max-width: 100%;
  height: auto;
}

.baloes  {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.balao{
  background: #eab161;
  font-family: 'open sans';
  font-size: 0.90em;
  line-height: 1.6em;  
  border-radius: 15px;
  width: 300px;
  height: auto;
  color: #fff;
  padding: 20px;
  position: relative;
  margin-top: 30px;
}

.balao-h{
  background: #eab161;
  font-family: 'open sans';
  font-size: 0.90em;
  line-height: 1.8em;  
  border-radius: 15px;
  width: 300px;
  height: auto;
  color: #fff;
  padding: 20px;
  position: relative;
  margin-top: 30px;
}

.balao-h p {
  justify-content: center;
  padding-left: 70px;
}

.baloes::after, .baloes::before {
	content: '';
	display: table;
	clear: both;
}


.servicos{
  background: #dcdcdc;

}

.servicos h1{
  display: flex;
  justify-content: center;
  color: #eab161;
  font-size: 2.5em;
  text-transform: uppercase;
  padding-top: 100px;
}

.servicos img{
  margin: 70px 20px;
  height: 500px;
  width: 400px;
}







